.container, .footerLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.container {
  align-items: center;
  padding: 0 0 0.25rem 0;
}

.footerLinks {
  padding: 0;
  border-top: 5px double rgb(var(--black));
  border-bottom: 5px double rgb(var(--black));
}

.footerLinks, .copyright > p {
  font-size: var(--body-xs);
}

.footerLinks > a, .copyright > p {
  padding: 1rem 0;
  text-align: center;
}

.footerLinks > a {
  border-bottom: 0.5px solid rgb(var(--black));
}

.copyright > p {
  opacity: 0.5;
}

.footerLinks > a:last-child {
  border-right: none;
  border-bottom: none;
}

/* tablet */
@media screen and (min-width: 600px) {
  .footerLinks {
    flex-direction: row;
    padding: 1rem 0;
  }
  .footerLinks > a {
    border-right: 0.5px solid rgb(var(--black));
    padding: 0 1rem;
    border-bottom: none;
  }

}

/* laptop */
@media screen and (min-width: 1024px) {
  .footerLinks > a {
    padding: 0 2rem;
  }

}

/* desktop */
@media screen and (min-width: 1440px) {

}