.container,
.section,
.logo,
.footer {
  display: flex;
}

.container,
.footer {
  background-color: rgb(var(--black));
}

.container {
  max-height: fit-content;
  flex-direction: row;
  justify-content: center;
}

.section,
.footer {
  flex-direction: column;
}

.section {
  width: 20%;
  padding: 100px 0 90px 40px;
  margin: 0;
}

.title,
.links:hover {
  font-weight: var(--bold);
}

.title,
.copyright,
.copyright > a,
.copyright > a:hover {
  color: rgb(var(--white));
}

.title {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 1em;
}

.links {
  font-weight: var(--regular);
  font-size: 0.8em;
  padding-bottom: 1em;
}

.links {
  color: rgba(var(--white), 0.8);
}

.links:hover {
  color: rgb(var(--accent));
}

.logo {
  width: 50%;
  margin: auto 0;
}

.footer {
  align-items: center;
  border-top: 0.6px solid rgba(var(--white), 0.6);
}

.copyright,
.copyright > a {
  font-weight: var(--light);
}

.copyright {
  font-size: 0.7em;
  text-align: center;
  padding: 0 40px;
}

@media only screen and (max-width: 500px) {
  .container  {
    flex-direction: column;
    width: 100vw;
  }

  .section {
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 50px 0 40px 0px;
  }

  .logo {
    width: 30%;
    margin: auto;
  }

  .title {
    font-size: 1.2em;
  }

  .links {
    font-size: 1em;
  }

  .copyright {
    font-size: 0.8em;
  }
  
}
