.upperHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

h1 {
  font-size: clamp(3.8rem, 3.8rem + 5vw, 3.625rem + 1vw);
  margin: 0;
  text-align: center;
  padding: var(--height-padding) 0;
}

.upperHeader > span {
  display: none;
}

/* tablet */
@media screen and (min-width: 600px) {
  h1 {
    padding: var(--width-padding) 0;
    
  }
}

/* laptop */
@media screen and (min-width: 1024px) {

  .upperHeader {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .upperHeader > span {
    display: block;
    width: 20%;
  }

  h1 {
    border-left: 1px solid rgb(var(--black));
    border-right: 1px solid rgb(var(--black));
    margin: var(--width-padding);
    padding: 0 var(--width-padding);
    font-size: clamp(2rem, 2.6rem + 5vw, 3.2rem + 1vw);
  }

  .upperHeader > span {
    color: rgb(var(--black));
    font-size: var(--body-xs);

  }

  .headerLeft {
    text-align: right;
  }

  .headerRight {
    text-align: left;
  }

  .upperHeader > span {
    width: 12%;
  }

}

/* desktop */
@media  only screen and (min-width: 1440px) {

  .upperHeader > span {
    color: rgb(var(--black));
    font-size: var(--body-sm);

  }

  .upperHeader > span {
    width: 15%;
  }

.inactiveTab {
  background-color: transparent;
}

.btn,
.activeTab {
  color: rgb(var(--white));
}

.fullwidth,
.navlinks {
  width: 100%;
}

.fullwidth {
  height: 200px;
}

.webwidth {
  width: var(--max-width);
}

.search {
  justify-content: center;
}

.activeTab {
  background-color: rgb(var(--accent));
}

.label,
.inactiveTab {
  color: rgb(var(--black));
}

.nav {
  justify-content: center;
  font-size: 0.95em;
}

.btn {
  color: black;
  text-transform: uppercase;
  background-color: transparent;
}

.navlinks {
  list-style-type: none;
  padding-right: var(--width-padding);
  gap: 5%;
  text-transform: uppercase;
}

}

