.article {
  width: 100%;
}

.latestContainer {
  background-color: rgb(var(--faded-black));
  color: rgb(var(--white));
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.sectionTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.375rem;
}

.sectionTitle > h4 {
  white-space: nowrap;
}

.sectionTitle > span {
  flex: 1;
  background-color: white;
  height: 1px;
}

.date {
  text-transform: uppercase;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article > a > h5 {
  font-size: 1.5rem;
  color: white;
  line-height: 1.675rem;
  padding: 0.675rem 0; 
}

.article > a:hover {
  color: rgb(var(--bg-grey));
}

.article > h5, .article > p, .article > span, .article > a > h5 {
  margin: 0;
}

.article > p {
  font-size: var(--body);
  line-height: var(--body-height);
}

.img {
  width: inherit;
  height: auto;
  object-fit: fill;
  margin-bottom: 0; /* update */
  border: 1px solid white;
}

.hidden {
  display: none;
}

.img {
  margin-bottom: 0.675rem; 
}

/* tablet */
@media screen and (min-width: 600px) {

  .articleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "item1 item2"
    "item3 item3"
    "item4 item5";
    gap: 2rem;
  }

  .article:first-child {
    grid-area: item1;
  }
  
  .article:nth-child(2) {
    grid-area: item2;
  }
  
  .article:nth-child(3) {
    grid-area: item3;
  }
  
  .article:nth-child(4) {
    grid-area: item4;
   
  }
  
  .article:last-child {
    grid-area: item5;
  }

}

/* laptop */
@media screen and (min-width: 1024px) {

  .articleContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item3";
    gap: 2rem;
  }

}

/* desktop */
@media  only screen and (min-width: 1440px) {
  .latestContainer {
    padding: 1rem 1.675rem 1.675rem 1.675rem;
  }

  .article > a > h5 {
    font-size: 1.5rem;
    line-height: 1.675rem;
    padding: 1rem 0; 
  }

}
