.container {
  margin: auto;
  width: 80%;
}

.article {
  padding-top: 2rem;
  border-bottom: 1px solid rgba(var(--black), 0.2);
}

.article:last-child {
  border: none;
}

.title {
  margin: 0;
  color: rgb(var(--black));
}

.title:hover {
  color: rgb(var(--accent));
}

.description {
  font-size: 0.9em;
  color: rgba(var(--black), 0.8);
  line-height: 1.2em;
}

.date {
  text-transform: uppercase;
}
