.container,
.scroll,
.carousel,
.divider,
.article {
  display: flex;
}

.container,
.divider,
.article {
  flex-direction: column;
}

.container {
  width: 92%;
  margin: auto;
  padding-top: var(--section-padding);
  padding-bottom: 90px;
}

.scroll,
.carousel {
  flex-direction: row;
}

.scroll,
.carousel,
.divider,
.article {
  width: 100%;
}

.sectionTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.link {
  color: rgb(var(--black));
  padding-bottom: 10px;
  font-size: 0.8em;
}

.scroll {
  align-items: center;
}

.carousel {
  overflow: hidden;
  padding-top: 50px;
  transition: transform 1s ease-out;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.tab {
  background-color: rgb(var(--black));
  padding: 1em 2em;
  width: 12%;
  margin: 0;
  color: rgb(var(--white));
  text-align: center;
}

.divider {
  border-bottom: 2px solid rgb(var(--black));
}

.article {
  border-right: 1px solid rgba(var(--black), 0.2);
  justify-content: start;
  padding: 0 3%;
  height: 250px;
}

.article:last-child {
  border-right: none;
}

.image {
  max-width: 200px;
  max-height: 100px;
  object-fit: fill;
  object-position: top;
  margin-bottom: 1em;
  border: 2px solid rgb(var(--black));
}

.title {
  margin-top: 0.4em;
  color: rgb(var(--black));
  font-size: 0.9em;
}

.title:hover {
  color: rgb(var(--accent));
}

.btnPrev,
.btnNext {
  color: rgb(var(--black));
  border: none;
  font-size: 1em;
  font-weight: var(--bold);
  min-height: 50px;
  padding: 0 0.8em;
  cursor: pointer;
  background-color: rgb(var(--white));
  border: 1px solid rgb(var(--black));
}

.btnPrev:hover,
.btnNext:hover {
  color: rgb(var(--white));
  background-color: rgb(var(--black));
}

.btnPrev:disabled,
.btnPrev:disabled:hover,
.btnNext:disabled,
.btnPrev:disabled:hover {
  cursor: default;
  filter: opacity(0.3);
  color: rgb(var(--black));
  background-color: transparent;
}

@media only screen and (max-width: 1450px) {
  .tab {
    width: 20%;
  }
}

@media only screen and (max-width: 900px) {
  .tab {
    width: 16%;
  }
}
