.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding-bottom: 150px;
}

.illustration {
    padding-top: 150px;
    padding-bottom: 50px;
    height: auto;
    width: 20%;
}

.title, .text > a  {
    font-weight: var(--bold);
    color: rgb(var(--black));
}

.title {
    font-size: 2em;
}

.text {
    font-weight: var(--regular);
    width: 30%;
    text-align: center;
    margin: auto;
    font-size: 0.8em;
    line-height: 2em;
}

.text > a {
    color: rgb(var(--black));
}