.container {
  display: grid;
  width: 94%;
  height: 600px;
  padding-top: var(--section-padding);
  grid-template-areas:
    'headline1 headline2'
    'headline1 headline3';
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}

.container > div:first-child {
  grid-area: headline1;
}

.container > div:nth-child(2) {
  grid-area: headline2;
}

.container > div:nth-child(3) {
  grid-area: headline3;
}

div,
.article {
  position: relative;
}

.article {
  filter: grayscale(1);
  border: 2px solid rgb(var(--black));
  margin: 10px;
}

div {
  overflow: hidden;
}

.text,
.image {
  position: absolute;
}

.text {
  width: 80%;
  padding-left: 2em;
  z-index: 99;
  bottom: 0;
  padding-bottom: 4%;
  color: rgb(var(--white));
}

.image {
  width: 150%;
  height: auto;
  top: 0;
  object-fit: fill;
  filter: brightness(0.4);
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: rgb(var(--grey));
}

.image:hover {
  transform: scale(1.1);
}

.headline {
  font-size: 2em;
}

.headlineSecondary {
  font-size: 1.4em;
}

.headline,
.headlineSecondary {
  margin-bottom: -10px;
}

.description {
  width: 90%;
  line-height: 1.8em;
  font-size: 0.9em;
  margin-bottom: 0;
}

span {
  font-size: 0.8em;
  font-weight: var(--light);
  filter: opacity(0.5);
}

@media only screen and (max-width: 1450px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'headline1 headline1'
      'headline2 headline3';
  }

  .text {
    width: 90%;
  }

  .headline,
  .headlineSecondary {
    font-size: 1.4em;
    margin-bottom: 0;
  }

  .description {
    font-size: 0.8em;
    line-height: 1.6em;
  }

  .image {
    width: 130%;
  }

  .container > div:nth-child(2) {
    grid-area: headline2;
  }

  .container > div:nth-child(3) {
    grid-area: headline3;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    grid-template-areas:
      'headline1'
      'headline2'
      'headline3';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .headline,
  .headlineSecondary {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  .description {
    font-size: 0.8em;
    line-height: 1.4em;
  }
}
