.popnews,
.section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.popnews {
  padding-top: 20px;
}

.tab {
  background-color: rgb(var(--accent));
  padding: 1em;
  width: 15%;
  margin: 0;
  color: rgb(var(--white));
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.divider {
  width: 100%;
  border-bottom: 3px solid rgb(var(--accent));
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.link {
  color: rgb(var(--black));
  padding-bottom: 10px;
}

.container {
  width: 70%;
  padding-left: var(--width-padding);
  padding-right: 20px;
}

.articleContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 140px);
  padding-top: 2em;
}

.article:first-child {
  grid-column: 1;
  grid-row: 1 / 4;
}

.article:nth-child(2) {
  grid-row: 1;
}

.article:nth-child(2),
.article:nth-child(3),
.article:nth-child(4) {
  grid-column: 2;
}

.article:nth-child(3) {
  grid-row: 2;
}

.article:nth-child(4) {
  grid-row: 3;
}

.innerItem,
.mainContent,
.text,
.secondaryContent {
  display: flex;
}

.innerItem,
.mainContent,
.text {
  flex-direction: column;
}

.innerItem {
  margin-bottom: -200px;
}

.mainContent {
  align-content: flex-start;
}

.secondaryContent {
  flex-direction: row;
}

.imageMain,
.image {
  width: auto;
  height: auto;
}

.image {
  max-width: 150px;
  max-height: 100px;
}

.imageMain {
  max-height: auto;
  max-width: 100%;
}

.text {
  padding-left: 3%;
}

.textMain {
  padding-left: 0;
  width: 90%;
}

.titleMain {
  font-size: 1em;
}

.title {
  font-size: 80%;
  margin: -15px 0;
}

.title,
.titleMain {
  color: rgb(var(--black));
}

.author {
  font-size: 0.8em;
  margin: 0;
  padding-bottom: 1em;
}

.description {
  margin-top: 3%;
  font-size: 0.6em;
}

.descriptionMain {
  font-size: 0.8em;
  margin-top: -10px;
}

.description,
.descriptionMain {
  line-height: 1.6em;
}

@media only screen and (max-width: 1450px) {
  .popnews {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 40px;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .imageMain {
    max-width: auto;
    max-height: 300px;
  }

  .titleMain,
  .title {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 900px) {
  .tab {
    width: 25%;
  }

  .link {
    font-size: 0.8em;
  }

  .articleContainer {
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 120px);
  }

  .article:first-child,
  .article:nth-child(2),
  .article:nth-child(3),
  .article:nth-child(4) {
    grid-column: 1;
  }

  .article:first-child {
    grid-row: 1;
    margin-top: -0.4em;
  }

  .article:nth-child(2) {
    grid-row: 2;
    margin-top: -0.4em;
  }

  .article:nth-child(3) {
    grid-row: 3;
  }

  .article:nth-child(4) {
    grid-row: 4;
  }

  .mainContent {
    flex-direction: row;
    justify-items: flex-end;
    padding: 0;
  }

  .imageMain,
  .image {
    max-width: 120px;
    max-height: 90px;
  }

  .textMain {
    padding-left: 3%;
    margin: -20px 0;
  }

  .titleMain {
    font-size: 0.9em;
    margin: -15px 0;
  }

  .descriptionMain {
    margin-top: 3%;
    font-size: 0.6em;
  }
}
