.container {
  height: fit-content;
  padding: 10px 0;
  width: 100%;
  margin: auto;
}

.article {
  margin-bottom: 3em;
  animation: shimmer 2s infinite;
}

.title {
  width: 50%;
  height: 2em;
  margin-bottom: 1em;
  background-color: rgb(var(--grey));
}

@keyframes shimmer {
  0% {
    filter: opacity(0.7);
  }
  100% {
    filter: opacity(1);
  }

  50% {
    filter: opacity(0.7);
  }
}

.description,
.description2 {
  height: 0.9em;
  background-color: rgb(var(--grey));
  margin-bottom: 2em;
}

.description {
  width: 90%;
}

.description2 {
  width: 60%;
}
