.section,
.nav {
  display: flex;
  background-color: rgb(var(--white));
}

.nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--white));
  width: 100%;
  margin: 0;
  border-top: 2px solid rgb(var(--black));
  border-bottom: 2px solid rgb(var(--black));
  padding: 10px 0;
}

.tabs {
  list-style: none;
  text-transform: uppercase;
  font-weight: var(--bold);
  font-size: 0.9em;
  cursor: pointer;
  border-right: 1px solid rgba(var(--black), 0.2);
  padding: 0 20px;
}

.tabs,
.inactiveTab {
  color: rgb(var(--black));
}

.tabs:first-child {
  border-left: 1px solid rgb(var(--black));
}

.section {
  flex-direction: column;
}

.activeTab {
  color: rgb(var(--white));
  background-color: rgb(var(--black));
  padding: 10px 15px;
}

.inactiveTab {
  list-style: none;
  background-color: transparent;
}
