.container,
.upperHeader,
.search {
  display: flex;
  flex-direction: row;
}

.container,
.inactiveTab {
  background-color: transparent;
}

.container,
.btn,
.activeTab {
  color: rgb(var(--white));
}

.container {
  align-items: center;
  z-index: 9;
}

.section {
  max-height: fit-content;
  max-width: fit-content;
}

.upperHeader,
.even {
  justify-content: space-between;
}

.upperHeader,
.webwidth {
  margin: auto;
}

.upperHeader {
  width: 92%;
}

.fullwidth,
.navlinks {
  width: 100%;
}

.fullwidth {
  height: 40px;
}

.webwidth {
  width: var(--max-width);
}

.logo,
.search {
  padding: 40px 0;
}

.search > input {
  height: 3.5em;
  width: 400px;
  border: 1px solid rgb(var(--black));
  padding: 0.2em 1em;
  margin-right: 2em;
}

.btn {
  background-color: rgb(var(--black));
  padding: 0.2em 2em;
  font-weight: var(--bold);
  border: none;
}

.btn:hover,
.activeTab {
  background-color: rgb(var(--accent));
}

.header,
.nav {
  background-color: rgb(var(--white));
}

.header {
  height: fit-content;
  border-bottom: 2px solid rgb(var(--black));
}

.label,
.inactiveTab {
  color: rgb(var(--black));
}

.nav {
  justify-content: center;
  font-size: 0.95em;
}

.logo {
  width: 10%;
  height: auto;
}

.navlinks {
  list-style-type: none;
  padding-right: var(--width-padding);
  gap: 5%;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .navlinks {
    gap: 10%;
    width: 400px;
  }
}

@media screen and (max-width: 800px) {

  .logo {
    width: 15%;
  }
}

@media screen and (max-width: 500px) {
  .container,
.upperHeader {
  flex-direction: column;
}

.logo {
  padding-top: 0;
  padding-bottom: 0;
  margin: 40px auto;
  width: 30%;
}
.search {
  padding-top: 0;
}
}
